.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  width: min(90vw, 33.37rem);
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .9rem;
  padding: 1rem;
  color: rgb(31, 29, 29);
  font-weight: 600;
  width: 90%;
}

.firt-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg {
  width: fit-content;
  font-size: large;
  word-break: break-all;
  user-select: none;
}

.second-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: auto;
  width: 100%;
}

hr {
  border: .1rem solid rgb(31, 29, 29);
  width: 100%;
}

.date {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  align-self: flex-end;
  cursor: pointer;
  user-select: none;
}

.icon-remove {
  cursor: pointer;
  flex: 1;
  transition: all 0.1s ease-in;
}

.icon-remove:hover {
  color: red;
}

#icon-calendar {
  flex: 1;
  transition: all 0.1s ease-in;
  color: rgb(31, 29, 29);
  cursor: pointer;
}

#icon-calendar:hover {
  color: rgb(110, 110, 110);
}

#icon-edit {
  flex: 1;
  transition: all 0.1s ease-in;
  color: rgb(31, 29, 29);
  cursor: pointer;
}

#icon-edit:hover {
  color: rgb(110, 110, 110);
}

#icon-check {
  border: none;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
  color: rgb(2, 167, 2);
  transition: all 0.1s ease-in;
}

#icon-check:hover {
  color: rgb(4, 121, 4);
}
