@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 1.8rem;
  color: white;
  height: 6vh;
  background-color: red;
}

body {
  background-color: #23212c;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 1.8rem 1rem;
  width: 100vw;
  position: relative;
}

.btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 
  -0.2rem 0 .5rem rgba(0, 0, 0, 0.55),
    .3rem 0 .5rem rgba(0, 0, 0, 0.55),
    inset 0 -1rem .8rem rgba(0, 0, 0, 0.25),
    inset 0 .4rem .8em rgba(255, 255, 255, 0.14);
  background-color: red;
  padding: 2.8rem 3rem;
  position: fixed;
  right: 1.0rem;
  bottom: 1.0rem;
  transition: all 2s black;
}

.btn-create::after {
  content: '';
  position: absolute;
  border: .1rem solid white;
  height: 28%;
}

.btn-create::before {
  content: '';
  position: absolute;
  border: .1rem solid white;
  width: 30%;
}

.btn-create:active {
    transform: scale(0.85);
    box-shadow: inset .1rem 0 .5rem #1e1c25;
}

@media screen and (min-width: 7.60rem) {
  main {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}